* {
	padding: 0;
	margin: 0;
	border-width: 0;
}

body {
	background-color: #f7e0b7;
}

.bookend {
	background-color:#fff5e3;
}

.main {
	border-style: solid;
	border-width: 3px;
	border-color: #962117;
	margin: 12px;
	padding: 20px;
	max-width: 700px;
}