* {
	padding: 0;
	margin: 0;
	border-width: 0;
}

body {
	background-color: #f7e0b7;
	display:flex;
	flex-direction: column;
}

header {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 27px;
	letter-spacing: 3px;
	word-spacing: 0px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #962117;
}

form {
	margin-bottom: 1em;
}

.bookend {
	background-color:#fff5e3;
}

.main {
	border-style: solid;
	border-width: 3px;
	border-color: #962117;
	margin: 12px;
	padding: 20px;
	max-width: 700px;
	min-width: ;
}

.nav-item {
	display: inline;
	margin-left: 2em;
	margin-right: 2em;
}

#box, p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footerul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#footerul > li {
	list-style-type: none;
	margin-left: 3em;
	margin-right: 3em;
}